* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
}

header {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 87%;
  min-width: 460px;
  padding: 10px 0;
}

header #navbar #logo {
  margin-right: auto;
}

header #navbar #logo img {
  max-height: 100px;
}

header #navbar #nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

header #navbar #nav-links a, header #navbar #nav-links .active {
  text-decoration: none;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.1em;
  position: relative;
}

header #navbar #nav-links a:after, header #navbar #nav-links .active:after {
  content: "";
  display: block;
  background: #6195ff;
  position: absolute;
  width: 0%;
  bottom: -3px;
  height: 3px;
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;
}

header #navbar #nav-links a:hover:after, header #navbar #nav-links .active:hover:after {
  width: 100%;
  bottom: -10px;
  -webkit-transition: width 0.2s ease-in, bottom 0.2s linear;
  transition: width 0.2s ease-in, bottom 0.2s linear;
}

header #navbar #nav-links .active:after {
  width: 100%;
}

section#home {
  padding-top: 120px;
  margin-bottom: -120px;
  height: 100vh;
  background: url("../assets/bg1.svg");
  background-size: cover;
  background-attachment: fixed;
}

section#home .header {
  background-attachment: fixed;
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#home .header h1 {
  color: white;
  font-size: 2.5em;
}

section#about {
  padding-top: 120px;
  margin-bottom: -120px;
  height: 100vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#about .header {
  background-attachment: fixed;
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#about .header h1 {
  color: white;
  font-size: 2.5em;
}

section#about .header {
  background: url("../assets/section-img/bg1_darken.jpg");
}
/*# sourceMappingURL=styles.css.map */