@import 'scss/_variables';
@import 'scss/_mixins.scss';

*{
    padding:0;
    margin:0;
    scroll-behavior:smooth;
    font-family:$contentFont;
}


header{
    background:transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    box-shadow: none;
    z-index:10;

    #navbar{
        
        display:flex;
        align-items: center;
        width:87%;
        padding:10px 0;

        #logo{
            margin-right:auto;
            img{
                max-height:100px;
            }
        }
        
        #nav-links {
            display: flex;
            font-size:1em;
            font-weight:bold;
            justify-content: space-around;
            width:40%;
            min-width:350px;

            a, .active {
                text-decoration:none;
                color:black;
                font-family:$navFont;
                text-transform: uppercase;
                font-size: 1.1em;
                position:relative;
                transition: color 0.2s linear;

                &:after{
                    content:"";
                    display:block;
                    background:$primary;
                    position: absolute;
                    bottom:-3px;
                    height:3px;
                    border-top-right-radius: 300px;
                    border-top-left-radius: 300px;
                    transition:width 0.2s ease-in, bottom 0.2s linear;
                }

                &:hover{
                    color:$primary;
                    &:after{
                        width:100%;
                        bottom:-10px;
                    }
                }
            }

            .active{
                color:$primary;
                &:after{
                    transition:bottom 0.2s linear;
                    width:100%;
                    bottom:-10px;
                }
            }

            @include mediaQuery(($mediaQueryWidth)){
                display:none;
            }
            
        }

        /* responsive navbar */
        i{
            display:none;
            font-size:25;
            cursor:pointer;
            @include mediaQuery($mediaQueryWidth){
                display:block;
            }
        }

        #drawer{
            
            display:none;
            @include mediaQuery($mediaQueryWidth){
                
                display:flex;
                flex-direction: column;
                position: absolute;
                right: -210px;      //drawer's width 
                top: 0;
                height: 100vh;
                background: $primary;
                transition: right 0.3s ease-in;
                
                a{
                    cursor:pointer;
                    border-bottom:1px solid;
                    font-family:$navFont;
                    text-transform:uppercase;
                    color:lighten(white, 5%);
                    text-decoration:none;
                    width: 150px;
                    text-align: center;
                    padding: 30px;
                    
                    &:hover{
                        background:darken($primary, 5%);
                        color:darken(white, 5%);
                    }
                }
            }
        }
    }
}

section#home{
    @include section;

    height:100vh;
    background:url('../assets/bg1.svg');
    background-size:cover;
    background-attachment:fixed; //parallax
    display:flex;
    justify-content: center;
    align-items: center;
    background-position: -11 top;
    font-family:$navFont;
    h1, h3{
        //background-image:linear-gradient(to left, $primary, #6195ffab);
        background-color:#6195ffeb;
        clip-path: polygon(5% 0, 45% 0%, 50% 10%, 55% 0%, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0% 80%,  0% 20%);
        color: white;
        text-align: center;
        font-size: 2.5rem;
        width:55vw;
        min-width:615px;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px;
        box-shadow: 0px 0px 10px;
        font-variant-caps: petite-caps;
        box-sizing:border-box;

        @include mediaQuery($mediaQueryWidth){
            width:100%;
            min-width:0;
            font-size:1.5em;
        }
    }

    h3{
        //background-image:linear-gradient(to left, $secondary, #fc3b06ab);
        background-color:#2f2e41eb;
        margin-top:40px;
        width:35vw;
        min-width:415px;
        font-size:1.5em;
        @include mediaQuery($mediaQueryWidth){
            width:100%;
            min-width:0;
            font-size:1em;
        }
    }
}

section#about{

    .header{
        background-image:url('../assets/section-img/bg1_darken.jpg');
        background-color:$blendColor;
    }

    @include section;

    #about-content{
        @include section-content;

        .content{

            h1{
                color:$secondary;
            }
        }
    }
   
}

section#services{
    background:whitesmoke;
    .header{
        background:url('../assets/section-img/bg2.jpg');
    }

    @include section;

    #service-content{
        @include section-content;

        .content{
            .icon-container{
                background:lighten($secondary,10%);
                box-shadow:0 0 10px $secondary;
                &:hover{
                    background:$secondary;
                }

            }

            h1{
                color:$primary;
            }
        }
    }

    #why_choose_us{
        min-width: 300px;
        //border: 1px solid;
        padding: 40px;
        margin-bottom:$navbarHeight - 40;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.5;
        background:white;
        clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 6%);

        @include mediaQuery($mediaQueryWidth){
            padding:7px;
        }

        h1{
            font-size: 2.5em;
            font-family:$navFont;
            color:darken($primary, 5%);
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .feature{
            display: flex;
            margin: 10px 0;

            i{
                color:darken($primary, 5%);
                border: 1px solid;
                border-radius: 50%;
                padding: 5px;
                margin-right: 15px;
                height:16px;
            }

            p{  
                color:$lightblack;
            }
        }

    }
}

section#contact{

    .header{
        //background-image:linear-gradient(-45deg, $primary, $secondary);
        background-image:url('../assets/section-img/bg3.jpg');
        background-color:$blendColor;
    }
    @include section;
    margin-bottom:0;

    #contact-content{
        width: 100%;
        background: whitesmoke;

        .contact{
            display:flex;
            flex-wrap:wrap;
            justify-content: center;
            margin: 30px 0;
            div{
                padding: 35px 20px;
                line-height: 1.5;
                text-align: center;
                background: white;
                min-width: 250px;
                width: 20vw;
                margin: 20px 30px;

                i{
                    font-size: 2.5em;
                    margin-bottom:10px;
                    color:$primary;
                }

                h3{
                    margin:5px 0;
                }

                p, a{
                    color:#000000ab;
                }

                a{
                    text-decoration:none;
                }
            }
        }

        #visit_us{
            margin:30px 0 60px 0;
            h1{
                font-size:2.5em;
                font-family:$navFont;
                width: 100%;
                text-align: center;
                color:$primary;
                margin-bottom:20px;
            }
            
            #map{
                iframe{
                    width:100%;
                    height:300px;
                }
            }
        }
    }
}

#footer{

    background-image: linear-gradient(-45deg, #6195ff, #ffffff);
    padding:30px 0;
    #footer-top{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
        align-items: center;
        
        #footer_logo{   

            img{
                height:120px;
            }
        }

        #social-medias{
            min-width: 310px;
            display: flex;
            justify-content: space-around;
            margin:20px 0;
            a{
                background:$primary;
                color: white;
                padding: 15px;
                border-radius: 50%;
                
                &:hover{
                    background:darken($primary, 5%);
                }
            }
        }
    }

    #footer-bottom{
        text-align:center;
        margin-top:30px;
        word-spacing:5;
        line-height:1.5;
        h3{
            font-family:$navFont;

            .footer-name1{
                color:darken($secondary, 5%);
            }
            .footer-name2{
                color: darken($primary, 5%);
            }

        }

    }
}