* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
}

header {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 10;
}

header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 87%;
  min-width: 460px;
  padding: 10px 0;
}

header #navbar #logo {
  margin-right: auto;
}

header #navbar #logo img {
  max-height: 100px;
}

header #navbar #nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

header #navbar #nav-links a, header #navbar #nav-links .active {
  text-decoration: none;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.1em;
  position: relative;
}

header #navbar #nav-links a:after, header #navbar #nav-links .active:after {
  content: "";
  display: block;
  background: #6195ff;
  position: absolute;
  bottom: -3px;
  height: 3px;
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;
  -webkit-transition: width 0.2s ease-in, bottom 0.2s linear;
  transition: width 0.2s ease-in, bottom 0.2s linear;
}

header #navbar #nav-links a:hover:after, header #navbar #nav-links .active:hover:after {
  width: 100%;
  bottom: -10px;
}

header #navbar #nav-links .active:after {
  width: 100%;
  bottom: -10px;
}

section#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  margin-bottom: -80px;
  height: 100vh;
  background: url("../assets/bg1.svg");
  background-size: cover;
  background-attachment: fixed;
}

section#home .header {
  background-attachment: fixed;
  background-blend-mode: screen;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section#home .header h1 {
  color: white;
  font-size: 2.5em;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  word-spacing: 15;
}

section#home .header h1 .name1 {
  color: #fc5324;
}

section#home .header h1 .name2 {
  color: #80aaff;
}

@media screen and (max-width: 760px) {
  section#home .header {
    height: 200px;
  }
}

section#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  margin-bottom: -80px;
}

section#about .header {
  background-image: url("../assets/section-img/bg1_darken.jpg");
  background-color: #6195ff3d;
}

section#about .header {
  background-attachment: fixed;
  background-blend-mode: screen;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section#about .header h1 {
  color: white;
  font-size: 2.5em;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  word-spacing: 15;
}

section#about .header h1 .name1 {
  color: #fc5324;
}

section#about .header h1 .name2 {
  color: #80aaff;
}

@media screen and (max-width: 760px) {
  section#about .header {
    height: 200px;
  }
}

section#about #about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: whitesmoke;
  padding: 60px 0;
}

section#about #about-content .content {
  background: white;
  width: calc(45%/3);
  text-align: center;
  line-height: 1.5;
  min-width: 295px;
  -webkit-box-shadow: 0 0 8px #cccccc;
          box-shadow: 0 0 8px #cccccc;
  padding: 30px 20px;
  margin: 30px 20px;
  position: relative;
  color: #000000d1;
}

section#about #about-content .content .icon-container {
  padding: 15px;
  font-size: 1.5em;
  position: absolute;
  top: -30;
  left: 43%;
  background: #7ba6ff;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #6195ff;
          box-shadow: 0 0 10px #6195ff;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

section#about #about-content .content .icon-container:hover {
  background: #6195ff;
}

section#about #about-content .content h1 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 5px 0 10px 0;
}

@media screen and (max-width: 760px) {
  section#about #about-content .content {
    padding: 30px 10px;
    margin: 30px 10px;
    min-width: 250px;
  }
}

section#about #about-content .content h1 {
  color: #fc3b06;
}

section#services {
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  margin-bottom: -80px;
}

section#services .header {
  background: url("../assets/section-img/bg2.jpg");
}

section#services .header {
  background-attachment: fixed;
  background-blend-mode: screen;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section#services .header h1 {
  color: white;
  font-size: 2.5em;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  word-spacing: 15;
}

section#services .header h1 .name1 {
  color: #fc5324;
}

section#services .header h1 .name2 {
  color: #80aaff;
}

@media screen and (max-width: 760px) {
  section#services .header {
    height: 200px;
  }
}

section#services #service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: whitesmoke;
  padding: 60px 0;
}

section#services #service-content .content {
  background: white;
  width: calc(45%/3);
  text-align: center;
  line-height: 1.5;
  min-width: 295px;
  -webkit-box-shadow: 0 0 8px #cccccc;
          box-shadow: 0 0 8px #cccccc;
  padding: 30px 20px;
  margin: 30px 20px;
  position: relative;
  color: #000000d1;
}

section#services #service-content .content .icon-container {
  padding: 15px;
  font-size: 1.5em;
  position: absolute;
  top: -30;
  left: 43%;
  background: #7ba6ff;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #6195ff;
          box-shadow: 0 0 10px #6195ff;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

section#services #service-content .content .icon-container:hover {
  background: #6195ff;
}

section#services #service-content .content h1 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 5px 0 10px 0;
}

@media screen and (max-width: 760px) {
  section#services #service-content .content {
    padding: 30px 10px;
    margin: 30px 10px;
    min-width: 250px;
  }
}

section#services #service-content .content .icon-container {
  background: #fd6338;
  -webkit-box-shadow: 0 0 10px #fc3b06;
          box-shadow: 0 0 10px #fc3b06;
}

section#services #service-content .content .icon-container:hover {
  background: #fc3b06;
}

section#services #service-content .content h1 {
  color: #6195ff;
}

section#services #why_choose_us {
  min-width: 300px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  background: white;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 6%);
          clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 6%);
}

section#services #why_choose_us h1 {
  font-size: 2.5em;
  font-family: "Roboto Condensed", sans-serif;
  color: #4884ff;
  text-transform: uppercase;
  margin: 20px 0;
}

section#services #why_choose_us .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

section#services #why_choose_us .feature i {
  color: #4884ff;
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
  height: 16px;
}

section#services #why_choose_us .feature p {
  color: #000000ab;
}
/*# sourceMappingURL=styles.css.map */