//variables
$primary:#6195ff;
$secondary:#fc3b06;
$blendColor:#6195ff3d;
$lightblack:#000000ab;

$navFont:'Roboto Condensed', sans-serif;
$contentFont : 'Ubuntu', sans-serif;
$navbarHeight :120px;
$smallNavbarHeight: 80px;

//for scroll
$paddingTop:$smallNavbarHeight;
$marginBottom: -$smallNavbarHeight;

$mediaQueryWidth: 760px;
