//variables
$primary:#6195ff;
$secondary:#fc3b06;

$navFont:'Roboto Condensed', sans-serif;
$contentFont : 'Ubuntu', sans-serif;
$navbarHeight :120px;

//for scroll
$paddingTop:$navbarHeight;
$marginBottom: -$navbarHeight;

